@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("/images/bg.jpg") no-repeat center center fixed;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  border-radius: 8px;
}
